@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

* {
    font-family: 'Bitter', serif !important;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.onde-ouvir img{
    height: 35px;
    width: 35px;;
}

.onde-ouvir a {
    margin-right: 20px;
}

.apple-podcast-icon {
    height: 39px !important;
    width: 39px !important;
}