.main-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    width: 100%;    
}

.main-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #000000;
}

.main-container .header p {
    margin-left: 30px;
}

.main-container .onde-ouvir {
    margin-right: 30px;
}

.main-container .conteudo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}

.main-container .conteudo-container .episodio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

.main-container .conteudo-container .episodio {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.main-container .conteudo-container .episodio img {
    width: 50%;
    height: 100%;
}

.main-container .footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
}